{
    "extends": "thorocaine",
    "globals": {
        "module": true
    },
    "rules": {
        "jsx-a11y/label-has-for": [
            2,
            {
                "components": [
                    "Label"
                ],
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                },
                "allowChildren": false
            }
        ],
        "@typescript-eslint/explicit-function-return-type": [
            2,
            {
                "allowExpressions": true
            }
        ],
    }
}